@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}


div.item {
    /*border: 1px blue solid;*/
    border: 1px #FFC107 solid;
    border-radius: 1px;
    margin: 0.1%;
    padding: 1%;
    width: 30%;
    display: inline-block;
    background-color: #f3f2f1;
    height: 259px;
    min-width: 320px;
	min-height: 136px;
}

.item>div.seccionItem{
	/*display: flex;
	flexâ€direction: colum;*/
	float:left;
	width: 50%;
}

#seccionItem img{ 
	max-width: 99%; 
}

.descripcion{
	padding-left: 5%;
	padding-right: 5%;
	width: 80%;
	flex-direction:colum;
}

.descripcion>h1{
	font-family: Roboto-Regular;
	font-size: 20px;
}

.ficha{
	padding-top: 0.5%;
	padding-left: 7%;
	width: 80%;
	background-color: #FBFBEF;
	line-height:7px;
	font-family: Roboto-Regular;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 8%;
    margin-top: 8%;
    border-bottom: 2px solid #dbdbdb;
    padding-bottom: 5px;
    color:#505050;
    -webkit-tap-highlight-color: transparent;
}


section#filtros {
    display: none;
}

/*
a {
	color: #505050;
	text-decoration: none;	
}*/


.alert-info img{
	width: 30px;
	cursor: pointer;
}


.alert-info img:hover{
	background-color: black;
    border-radius: 5px;
    color: #FFC107;
}


a:hover {
	background-color: black;
    border-radius: 5px;
    color: #FFC107;
}
