@font-face {
	font-family: miFuente;
	src: url(../fonts/BebasKai.otf);
}

body {
	font-family: miFuente;
}

#contenedor {
	display: flex;
	flex-direction: column;
}

/*
.container{
	background: #ccc;
}
*/

.header a, .footer a {
	color: blue;
	text-decoration: none;	
}

.header, .footer {
	background-color: #FFC107;
}


#toolbar {
	margin: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#toolbar>#items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/*#toolbar>#items>#item {
	display: flex;
	flex-wrap: wrap;
}*/

#toolbar>#titulo {
	display: flex;
	align-items: center;
	justify-content: center;
}

#toolbar>#titulo>img {
	width: 75%;
}

#toolbar>#login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.footer {
	bottom: 0;
	text-align: center;
}
