* {
	margin: 0px;
	padding: 0px;
}




@font-face {
	font-family: miFuente;
	src: url(../fonts/Gravity-Bold.otf);
}

body {
	font-family: miFuente;
	margin: 0;
}

#contenedor {
	display: flex;
	flex-direction: column;
	align-items: stretch;

}

.container{
	background: white;
	padding: 35px 60px 35px;
	min-height: 70vh; /* para el footer abajo*/

	margin-top: 185px;

}


a {
	color: blue;
	text-decoration: none;	
}


.header{
	position: fixed;
	width: 100%;
	z-index: 200;
}



.header, .footer {
	background-color: #FFC107;
}


#up {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 26px;
}



#titulo>a>img {
	width: 450px;
	padding: 10px;
}

#login {
	display: flex;
	flex-direction: column;
	font-size: 22px;
}

#items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 85px 10px;
	font-size: 26px;
	background-color: #FFD54F;
}

#item {
	padding: 0px 25px 0px;
}

#items>a:hover, #login>a:hover {
    background-color: black;
    border-radius: 5px;
    color: #FFC107;
}


.footer {
	text-align: center;
}
