form {
	border: 3px solid #f1f1f1;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1.7%;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    width: 30%;
   
}

button:hover {
    opacity: 0.8;
}

.atrasbtn {
	background-color: grey;
    color: white;
    padding: 1.7%;
    border: none;
    cursor: pointer;
    width: auto;
}


.imgcontainer {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
   /* width: 30%;*/
}

img.avatar {
	padding-top: 2%;
    width: 13%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

fieldset{
	padding: 4%;

}