legend {
    background-color: #FFEA83;
    border-radius: 5px; 
    border: 2px solid #FFC107;
}

.unirsebtn {
    background-color: #FFC107; 
    color: black;
    border: none;
    cursor: pointer;
    padding: 6%;
    border-radius: 5px; 
    font-family: miFuente;
    font-size: 17px;
    margin-top: 4%;
    margin-left: 25%;
    width: 90%;
    height: 70%;
}

.unirsebtn:hover {
    opacity: 0.8;
    background-color: black;
    color: #FFC107;
}


fieldset{
    border-radius: 10px; 
    border-color: #FFC107;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}


span{
    font-weight: bold;
    padding: 1%;
}

h2{
    text-align: center;
}

div#derecha {
    float: right;
    width: 30%;
    margin-top: 1%;
   
}

div#izquierda {
    float: left;
    width: 20%;
    margin-top: 1%;
}