

.avatar img {
	width: 400px;
	border-radius: 5%;
}

.userData, .adminView {
    width: 40%;
	padding: 1%;
   /* border: 3px solid #FFC107;
    -webkit-border-radius: 15px;
    border-radius: 15px; */
}

.modificaView {
    border: 3px solid #FFC107;
    padding: 1%;
    -webkit-border-radius: 15px;
    border-radius: 15px; 
    margin-left: 20%;
    margin-right: 20%;
}

.adminView {
    margin-top: 1%;
}

input[type=text], input[type=password], input[type=date], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button {
    background-color: #FFC107; /*#4CAF50*/
    color: black;
    padding: 1.7%;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    width: 30%;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    font-family: miFuente;
    src: url(../fonts/BebasKai.otf);
    font-size: 20px;
    /*margin-bottom: 1%;*/
}

button:hover {
    opacity: 0.8;
    background-color: black;
    color: #FFC107;
}

#modCont {
    margin-top: 1%;
}

.perfil {
    display: flex;
    justify-content: space-around;
        border: 3px solid #FFC107;
    -webkit-border-radius: 15px;
    border-radius: 15px; 
    padding: 1%;
}

