

.unirsebtn {
    background-color: #FFC107;
    color: black;
    border: none;
    cursor: pointer;
    padding: 2%;
    border-radius: 5px;
    font-family: miFuente;
    font-size: 17px;
    margin-top: 4%;
    margin-left: 35%;
    width: 21%;
    height: 10%;
}

.unirsebtn:hover {
    opacity: 0.8;
    background-color: black;
    color: #FFC107;
}



fieldset{
    border-radius: 10px; 
    border-color: #FFC107;
    margin-top: 2%;
}

div#derecha {
    
    float: left;
    width: 45%;
    height: 40%;

}

div#izquierda {
    padding: 2%;
    float: left;
    width: 45%;
    height: 80%;
     -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

div#grupo {
    margin:5%;
}

div#creador{
    float: right;
}

div#titulo{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: #FFC107;
}
span{
    font-weight: bold;
}

h1{
    text-align: center;
}