.vistaGrupo {
    display: flex;
    flex-wrap: wrap;
}

.structGrupos{
    width: 100%;
}

.structComentarios {
    width: 100%;
    margin-left: 8%;
}

.informacionGrupos{
    padding-left: 20%;
}

.unirsebtn {
    background-color: #FFC107;
    color: black;
    border: none;
    cursor: pointer;
    padding: 2%;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 4%;
    margin-left: 35%;
    width: 28%;
    height: 10%;
}

.unirsebtn:hover {
    opacity: 0.8;
    background-color: black;
    color: #FFC107;
}

.derecha {    
    float: left;
    width: 50%;
    height: 80%;
    height: 40%;
}

.izquierda {
    float: left;
    width: 50%;
    height: 80%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: #FFC107;
}
.titulo2{
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    color: #2a2929;
}
.mensajeInfo{
    width: 80%;
    text-align: center;
    padding-top: 3%;
    padding-left: 9%;
}

fieldset{
    border-radius: 10px; 
    border-color: #FFC107;
    margin-top: 2%;
}

input {
    width: 26%;
    width: 25%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
label{
    width: 100%;
    margin-left:30%;a
}
legend {
    background-color: #FFEA83;
    border-radius: 5px; 
    border: 2px solid #FFC107;
}

span{
    font-weight: bold;
}

h1{
    text-align: center;
}
#showComment{
    border: 3px solid #6495ED;
    border-top-left-radius:     1em 5em;
    border-top-right-radius:    1em 5em;
    border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius:  1em 5em;
    padding-left: 15px;
    background: #d6f5f5;
    margin-bottom: 10px;
}
#spanId{
    background: white;
    border: 2px solid white;
    border-radius: 25px;
}
#autorComent{
    font-size: 20px;
}
#titleComment{   
    font-size: 25px;
}
#dateComent{
    float: right;
    padding-right: 10px;
}
#spanTitle{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #FFC107;
    border-radius: 25px;
    background-color: #FFEA83;
}
.submit,#addVal{    
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #FFC107;
    border-radius: 6px;
    border: 1.42px solid #0016b0;
}
#addVal:hover, #salir:hover {
    opacity: 0.7;
    background-color: black;
    color: #FFC107;    
    cursor: pointer;
}
#comentario{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #FFEC83;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#uds {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#salir {
    font-size: 50%;
    background-color: #FFC107;
    color: black;
    border: none;
    cursor: pointer;
    padding: 2%;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 4%;
    margin-left: 35%;
    width: 28%;
    height: 10%;


    /*margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #FFC107;
    border-radius: 6px;
    border: 1.42px solid #0016b0;
    width: 90%;*/
}