#fondoInicio{
	/*La imagen esta centrada horizontalmente y verticalmente siempre*/
	background-position: center center;
	/*La imagen no se repite*/
	background-repeat:  no-repeat;
	/*Redimension en distitos dispoditivos*/
	background-attachment: fixed;
	/*La imagen se reescala cuando se cambia  el ancho de ventana*/
	background-size: cover;
	/*Color de fondo*/
	background-color:#464646;
	/*posicion de la capa. Un numero mayor se superpone sobre una capa con numero menor*/
	/*EL z-index solo aplica a elementos que tengan la propiedad position en absolute o relative.*/
	z-index: 0;

}

.button{
	position: absolute;
	z-index: 2;
	top:600px;
	left: 1100px;
	width: 80px;
	height: 25px;
}
